.room_creation_area {
    width: 100%;
    align-self: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid black;
    margin-bottom: 16px;
}

.addRoomBtn {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-clip: content-box;
    border-radius: 5px;
    
}