.hotelCreationInfo {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    border-radius: 4px;
    align-self: flex-start;
    padding: 16px;
    background-color: #ebf3ff;
    margin-bottom: 50px;

    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        background-color: white;
        border-radius: 4px;
        border: 1px solid #dfdfdf;
    }
}



.css-1480iag-MuiInputBase-root-MuiInput-root {
    margin: 0 !important;
    &::after {
        display: none;
    }
    &::before {
        display: none;
    }
}

.addressContainer {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    max-width: 236px;

    & .comboBox {
        min-width: 200px;
        flex: 1;
        background-color: white;
        border-radius: 4px;
        border: 1px solid #dfdfdf;
        display: flex;
        align-items: center;


        & input {
            margin-left: 6px;
        }
    }

    & .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-16awh2u-MuiAutocomplete-root,
     .MuiAutocomplete-inputRoot {
         padding: 0 !important;
     }
}

.MuiAutocomplete-hasPopupIcon.css-16awh2u-MuiAutocomplete-root .MuiAutocomplete-inputRoot, 
.MuiAutocomplete-hasClearIcon.css-16awh2u-MuiAutocomplete-root .MuiAutocomplete-inputRoot {
    &::after {
        display: none;
    }
    &::before {
        display: none;
    }
}

.hotelInfoItem {
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 0;

    label {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.item_margin {
    margin-right: 16px;
}

.css-1q60rmi-MuiAutocomplete-endAdornment {
    display: none !important;
}

.hci_header {
    display: flex;
}

.hci_header_photo {
    height: 176px;
    width: 176px;
    background-color: grey;
    border-radius: 5px;
    margin-right: 16px;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 4px;
    }
}

.hci_hm_place_container {
    display: flex;

    .flex_grow {
        flex: 1;
    }
}

.hci_header_main {
    flex: 1;
}

.textInput {
    min-height: 90px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}