.srp_searching_area {
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    background-color: #febb02;
    padding: 16px;
}

.srp_searching_area fieldset{
    border: 0px solid yellow;
    border-radius: 5px;
    background-color: azure;
}

.srp_searching_area input{
    z-index: 2;
}

.srp_searching_area .submitButton{
    background-color: #003580;
    width: 100%;
    
    &:hover{
        background-color: olive;
    }
}

.cbLocates {
    box-sizing: border-box;
    width: 100%;
}

.seatsCountField {
    width: 100%;    
}

.srp_sa_header {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.srp_saf_item {
    
    .saf_item_label {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .css-16awh2u-MuiAutocomplete-root {
        background-color: white;
        border-radius: 4px;
    }

    .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-16awh2u-MuiAutocomplete-root .MuiOutlinedInput-root,
    .MuiAutocomplete-hasPopupIcon.css-16awh2u-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-16awh2u-MuiAutocomplete-root .MuiOutlinedInput-root {
        padding: 0 4px;
    }

    fieldset {
        display: none;
    }
}

.srp_saf_buttons {
    margin-top: 20px;
}