.adminPageContainer {
    display: flex;
    flex-flow: column nowrap;
    width: 72.5%;
    align-self: center;
    margin-top: 30px; 

    .addBtn {
        position: fixed;
        left: 20px;
        bottom: 40px;

        background-color: #003580;
        align-self: flex-end;

        &:hover{
            background-color: olive;
        }
    }
}