.container {
  display: grid; /* flex || inline-flex */
  grid-template-columns: 1fr 1fr 1fr;
}

.colCenter {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.rowCenter {
  background-color: azure;
  display: grid;
    grid-template-rows: 1fr 6fr;
}

.rowCenter h1{
  font-size: 38px;
  text-align: center;
}

.loginInfoArea {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.infoBlock {
  margin: 10px;
  width: auto;
  text-align: start;
  display: grid;
  grid-template-rows: 2fr 2fr 14px;
}

.infoBlock label {
  font-size: 24px;
}

.errorMessage {
  font-size: 14px;
}