$photoHeight: 30vh;

.creationPhotoCarousel {
    // display: flex;
    // flex-flow: row-reverse nowrap;
    // padding: 0;
    // overflow-x: auto;
    // overflow-y: hidden;
    // white-space: nowrap;
    
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 0 !important;
    
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden !important;
    white-space: nowrap;
    
    height: 144px;

    li {
        height: 120px !important;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0 !important;
        position: relative;
        overflow: hidden !important;
        border-radius: 2px;

        img:hover {
            transform: scale(1.1);
            transition: all .2s ease;
        }
    }
}

// .creationPhoto {
//     margin: 0;
//     height: 100%;
//     padding: 5px;
// }

.creationPhoto img {
    height: 100%;

    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.creationPhoto input {
    display: none;
}

.inputLi {
    min-width: $photoHeight;
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: center;
    background-clip: content-box;
    border-radius: 35px;

    & svg {
        font-size: 50px;
        color: black;
        background-color: cornsilk;
        border-radius: 50%;

        &:hover {
            color: cornsilk;
            background-color: black;
        }
    }
}