.adminRoomPageBody {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

.adminRoomInfoArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.adminRoomInfoItem {
    margin: auto;
    width: 100%;
    text-align: center;
}