.UDbtns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    & span {
        margin: 0 !important;

        & svg {
            font-size: 40px !important;
        }
    }

    & button {
        min-width: 0;
        max-width: none;
        width: 50px !important;
        padding: 0 !important;
    }

    .updateBtn {

        color: chocolate;
    }

    .deleteBtn {
        color: red;
    }
}

.table_row {
    
    & th {
        border: 1px black solid;
        background-color: #1565c0;
        text-align: center;

        &:first-child {
            border-left: 0;
        }

        &:last-child {
            border-right: 0;
        }
    }

    &:last-child {
        th {
            border-bottom: 0;
        }
    }
}