.searchingResultsContainer {
    display: flex;
    width: 80%;
    align-self: center;
    margin-top: 30px;
}

.searchingResultsArea {
    display: flex;
    flex-flow: column;
    width: 25%;
}

.searchedResultsArea {
    width: 75%;
}