$headHeight: 70px;

.tableForm {
    display: flex;
    flex-flow: row;
    margin: 50px 0px;
}

.reservationColumn {
    width: 20%;
    border: 1px black solid;
    border-left: 0;

    .roomTableHead {
        background-color: #003580;
    }
}

.roomsTable {
    width: 80%;
    display: table;

    & th {
        border: 1px black solid;
        border-top: none;
        padding: 6px 8px;
        text-align: center;
        
        &:first-child {
            text-align: left;
        }
    }

    & tbody tr {
        height: 100px;
    }
}

.roomTableHead {
    color: #fff;
    height: $headHeight;
    z-index: 2;

    position: sticky;
    top: 0;

    & tr {
        height: $headHeight;        
    } 

    & th {
        border-top: 1px black solid;
        border-bottom: none;
        background-color: #003580;
        color: #fff;
        background-clip: padding-box;
        text-align: left;
    }
}

.colType {
    width: auto;
    max-width: 400px;
}

.colSeats {
    width: 70px;
}

.colCost {
    width: 100px;
}

.colRoomCount {
    width: 120px;
}   
