.time_picker_container .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #bdbdbd;
    height: 40px !important;
    width: 360px;

    fieldset {
        display: none;
    }
}