.hotelListItemContent {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.hotelListItemInfo {
    display: grid;
      grid-template-columns: 1fr 4fr;
}

.hotelListItemPhoto {
}

.hotelListItemPhoto img{
    margin: 5px;
    max-height: 120px;
    max-width: 120px;
}