.totalCost {
    text-align: end;
    margin-right: 15%;
}

.orderTableDiv {
    margin: 5%;
}

// .MuiDataGrid-withBorder {
//     border-color: black;
//     border-width: 3px;
//     border-style: solid;

// }