.orderPageBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.facilitiesArea {
    display: grid;
    grid-template-rows: 5fr 1fr;
    margin: 5%;
}

.facilityTable {
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.orderTable {
    display: grid;
    grid-template-rows: 7fr 1fr 1fr;
}

.doOrderButton {
    text-align: end;
    margin-right: 15%;
}