.facilityCreationArea {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    border-radius: 5px;
    align-self: flex-start;
    background-color: #ebf3ff;
    margin-left: 16px;
    padding: 16px;
    height: auto;

    h3 {
        color: #1976d2;
    }
}


.createdFacilitiesList {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 16px;
}