.roomInfo {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.classInfoPhotos {
    max-height: 30%;
}

.roomName {
    text-align: center;
}

.roomCost {
    text-align: end;
    margin-right: 15%;
    margin-top: 15%;
}