.photoListItemLi {
    height: 100%;
    border-style: ridge;
    border-color: chartreuse;
    border-width: 10px;
}

.modalRoomPhoto {
    display: grid;
    grid-template-rows: 1fr 60px;
}

.modelRoomsButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modalCancelButtonDiv {
    text-align: start;
}

.modalDeleteButtonDiv {
    text-align: end;
}

.deleteButtonDiv {
    text-align: center;
}