
.hotelListItems {
    display: grid;
      grid-template-columns: 1fr 4fr;
}

.hotelListItemsPhoto img{
    margin: 5px;
    max-height: 120px;
    max-width: 120px;
}

li {
    list-style-type: none;
    margin: 10px;
}