.paramItem {
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.dataParam {
    margin-right: 10px;
}

.dataParam:first-child {
    border-right: 1px solid grey;
    padding-right: 20px;
}

.paramBtn {
    align-self: center;
    flex-grow: 1;
    text-align: end;
    padding-right: 10px;
}

.paramBtn .paramButton{
    background-color: #003580;
    
    &:hover{
        background-color: olive;
    }
}

.searching_params_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    width: auto;
}

.searching_params_modal_container {
    display: flex;
    flex-flow: column nowrap;
}

.spmc_title {

    h3 {
        font-size: 21px;
        font-weight: normal;
        margin-bottom: 15px;
        font-family: Segoe UI,Roboto,Helvetica,Arial,sans-serif;
        line-height: 24px;
    }
}

.spmc_input_area {
    display: flex;
    background: #ebf3ff;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.spmc_buttons {
    display: flex;
    background: #ebf3ff;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.spmc_ia_item {
    display: flex;
    flex-direction: column;

    .saf_item_label {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        background-color: white;
        border-radius: 4px;
        border: 1px solid #dfdfdf;
    }

    .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-16awh2u-MuiAutocomplete-root .MuiOutlinedInput-root {
        padding: 0 4px;
    }

    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        width: 180px;
    }

    fieldset {
        display: none;
    }
}

.spmc_buttons {
    justify-content: flex-end;
}