.hotelPageContainer {
    display: flex;
    flex-flow: row wrap;
    width: 1100px;
    align-self: center;
    margin-top: 30px;
}

.searchingHotelsArea {
    display: flex;
    flex-flow: column;
    width: 25%;
}

.hotelArea {
    width: 75%;
    padding-left: 32px;
}

.hotelDescription {
    width: 100%;
    padding: 0;
}

.searchingParams {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    border: 1px grey solid;
    margin-top: 32px;
}

.roomTable {
    width: 100%;
    margin-bottom: 100px;
}

.textArea {
    white-space: pre-line;
}