.carouselList {
    display: block;
    padding: 0;
    height: 30vh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    border: 2px red solid;
}

.hotelCarouselPhoto {
    margin: 0;
    display: inline-block;
    height: 100%;
}

.hotelCarouselPhoto img {
    height: 100%;

    object-fit: cover;
    object-position: center;
}