$item_margin: 16px;
$img_size: 200px;

.hotel_list_item {
    display: flex;
    flex-flow: row;
    background-color: white;
    border: 1px solid #c6c6c6;
    margin-top: 16px;
    border-radius: 2px;
    padding: $item_margin;
    height: 256px;
}

.hotel_list_item_image {
    width: $img_size;
    height: $img_size;
}

.hotel_list_item_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 4px;
    background-color: blue;
}

.hotel_list_item_text {
    display: flex;
    flex-flow: column;
    margin-left: $item_margin;
    width: calc(100% - 216px);
    height: 224px;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.hotel_list_item_header {
    display: flex;
    flex-flow: column;
}

.hotelListItemHeader .orderButton {
    background-color: #003580;
    width: 30%;
    align-self: flex-end;
    
    &:hover{
        background-color: olive;
    }
}

.hotel_name h3 {
    font-family: Helvetica,Arial,sans-serif;
    padding-right: 2px;
    font-weight: 700;
    line-height: 24px;
}

.hotel_address {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 18px;
}

.hotel_list_item_body {
    padding: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-height: 174px;
}

.item_buttons {
    margin-left: 15px;
    width: 150px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;

    & .item_button {
        display: block;
        width: 100%;
        margin: 5px 0;
        
        button {
            width: 100%;
        }
    }
}

.item_discription {
    padding-left: 5px;
    border-left: 2px solid #e6e6e6;
    height: 100%;
    overflow-y: auto;
}

.listItemDescription .orderButton {
    background-color: #003580;
    width: 30%;
    align-self: flex-end;
    
    &:hover{
        background-color: olive;
    }
}

.searched_hotels_list {
    padding: 0;
}

.searched_hotels_header {
    display: flex;
    align-items: center;
}

.shh_title {
    flex: 1;

    span {
        font-size: 24px;
        line-height: 32px;
        font-family: Segoe UI,Roboto,Helvetica,Arial,sans-serif;
        font-weight: 700;
    }
}

.css-wjh20t-MuiPagination-ul {
    li {
        margin-left: 0;
    }
}