.registration_page {
    margin-top: 16px;
    align-self: center;
    align-items: center;
    width: 400px;
}

.registration_page h1 {
    text-align: center;
    font-size: 48px;
    font-family: Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 700;
}


.registration_page .submitButton{
    background-color: #003580;
    
    &:hover{
        background-color: olive;
    }
}

.registration_page .infoBlock {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 8%;
}
