$headHeight: 70px;

.createdRoomsTable {
    width: 100%;
    display: table;
    border-radius: 5px;

    & th {
        //border: 1px black solid;
        border-top: none;
        background-color: #ebf3ff;
    }

    & tbody tr {
        height: 100px;
    }
}

.createdRoomsHead {
    color: #fff;
    height: $headHeight;
    z-index: 2;
    position: sticky;
    top: 0;

    & tr {
        height: $headHeight;        
    } 

    & th {
        border: 1px black solid;
        border-top: 0;
        border-bottom: none;
        background-color: #1565c0;
        color: #fff;
        background-clip: padding-box;
        text-align: center;

        &:first-child {
            border-left: 0;
        }

        &:last-child {
            border-right: 1px #1565c0 solid;
        }
    }
}

.colButtons {
    width: 120px;
}

.colType {    
    width: auto;
    max-width: 400px;
}

.colSeats {
    width: 70px;
}

.colCost {
    width: 100px;
}

.colRoomCount {
    width: 120px;
}   