.order_details {
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    color: #262626;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    padding: 16px;
}

.details_header {
    background-color: transparent;
    margin-bottom: 16px !important;

    & h2 {
        font-family: Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }
}