.wrapper {
    display: grid; /* flex || inline-flex */
    grid-template-columns: 1fr 5fr 1fr;
  }

  .first {
      background-color: aqua;
  }

  .page {
    display: grid;
    grid-template-rows: 1fr 5fr;
  }